@import "../dark-theme-variables";

.mpo-boite, .mpo-boite-onglet {
  background: $surface !important;
  border: none !important;

  .mpo-boite-titre {
    color: $on-surface !important;
  }
}

.mpo-liste-detaille-section-autres-cours>.__corps {
  background-color: $background;
}

.mpo-boite-message {
  border: none !important;
  .__corps {
    background-color: $surface;
  }
}

.mpo-boite-introduction {
  border: none !important;
}

.mpo-boite-introduction:not(.mpo--has-zone-affichage) .mpo-boite-introduction__corps {
  background: $surface !important;
}

.af_document {
  color: $on-surface !important;
}
