@import "../dark-theme-variables";

.af_dialog.af_dialog, .af_panelWindow.af_panelWindow, .AFPopupSelector.AFPopupSelector {
  background: $surface !important;
}

.modal-content {
  background: $surface !important;
}

.AFPopupSelectorContent {
  background: $surface !important;
  border-color: $surface-border !important;
}

.mpo-infobulle-bouton-fermer, .mpo-infobulle-bouton-fermer:visited {
  color: $on-surface !important;
}

.af_dialog_main {
  background: $surface !important;
}
