@import "../dark-theme-variables";

.mpo-legende {
  background: $surface !important;
  border-color: $surface-border !important;
}

.mpo-legende-titre {
  color: $on-surface !important;
}

legend {
  color: $on-surface !important;
}
