@import "../dark-theme-variables";

.mpo-liste-entete {
  background: $surface !important;
  border-color: $surface-border !important;
}
.mpo-liste {
  background: $surface !important;
}
.det-liste-entete {
  background: $surface !important;
}
.mpo-liste-base-elem {
  border-color: $surface-border !important;
}
.mpo-liste-entete>:first-child {
  border-color: $surface-border !important;
}
.mpo-liste-elem-avec-fleche:not(:last-child), .mpo-liste-elem:not(:last-child) {
  border-color: $surface-border !important;
}

.mpo-liste-base-elem-entete {
  color: $on-surface !important;
}

.mpo-liste-cliquable:active::after {
  background: $surface-selected !important;
}
