@import "../dark-theme-variables";

.mpo-message-corps {
  background: $surface !important;
  color: $on-surface !important;
  .mpo-message-contenu {
    .mpo-message-texte {
      color: $on-surface !important;
    }
  }
}
.mpo-message-attention.mpo-message-avec-icone::after {
  background: $error-background !important;
}

.mpo-message-information.mpo-message-avec-icone::after {
  background-color: $info-background !important;
}

.mpo-message-avertissement {
  background: $warning-background !important;
}

.mpo-message-avertissement.mpo-message-avec-icone::after {
  background: $warning-background !important;
}

.mpo-message-nouveaute.mpo-message-avec-icone::after {
  background: $success-background !important;
}

.mpo-message-entretien.mpo-message-avec-icone::after {
  background: $warning-background !important;
}

.Avertissement:before, .MessageAvertissement_Content:before {
  background: $warning-background !important;
}

.mpo-message-succes.mpo-message-avec-icone::after {
  background: $success-background !important;
}

.MessageAvertissement_TexteSeulement {
  background: none !important;
}

.Information_Simple {
  background: $surface !important;
}

.Information_Simple:before {
  background-color: $info-background !important;
}

.mpo-message-information {
  background-color: $info-background !important;
}


.m-message__wrap {
  background: $surface !important;
  .m-message__body {
    color: $on-surface !important;
  }
}
.mpo-message-fermer {
  background: none !important;
}
