@import "../dark-theme-variables";

.mpo-pied {
  background: $background !important;
  border-color: $background-border !important;
  .mpo-pied-mention-legale {
    background: $background !important;
  }
}
