@import "../dark-theme-variables";

.popover {
  color: $on-surface !important;
  background: $surface !important;
  border-color: $surface-border !important;
}

.popover .popover-content {
  background: $surface !important;
}
