@import "../dark-theme-variables";

.ProgessBar {
  background: $surface !important;
  border-color: $surface-border !important;
}
.ProgessBar_Content {
  color: $on-surface !important;
}
.ProgessBar_Color {
  background: $secondary !important;
}
