// $primary: #bb86fc;
$primary: #1895fd;
$primary-variant: #3700b3;
$secondary: #f39418;

$background: #121212;
$surface: #1d1d1d;

$error: #cf6679;
$error-background: #2d1919;
$info-background: #0b2e4f;
$warning-background: #211900;
$success-background: #0d3821;

$on-primary: #000;
$on-secondary: #000;
$on-background: #FFF;
$on-surface: #FFF;
$on-error: #000;

$surface-selected: #393939;
$surface-hover: #393939;

$surface-border: #5c5c5c;
$background-border: #343434;
