@import "../dark-theme-variables";



.gia-auth-layout__page {
  background: $background !important;
}

.gia-auth-layout__corps {
  background: $surface !important;
}

.gia-footer-layout {
  background: $background !important;
}
