@import "../dark-theme-variables";

.ael-demande__train {
  background: $surface !important;
  border-color: $surface-border !important;
}

.m-u--app-body .m-u--header {
  background: $surface !important;
}
