@import "../dark-theme-variables";
@import "../templates/examens-travaux";
@import "../templates/liste-cours";
@import "../templates/messages-importants";

.mpo-page-gabarit-2 {
  color: $on-surface !important;
  background: $background !important;
}

.mpo-tableau-liste-cours tr:not(:only-child):not(.dernier):not(.mpo-section-visible) {
  border-color: $surface-border !important;
}

.mpo-liste-cours-avec-jonction .mpo-jonction {
  &:before, &:after {
    background: $surface-border;
    border-color: $surface-border;
  }
}
