@import "../templates/bloc-panier";

.mpo-page-corps {
  background: $background !important;
}

.det-section-contenu {
  background: $background !important;
}

.det-formule-enseignement-pastille {
  background: $surface-selected !important;
}

.det-cours {
  background: $background !important;
}

.det-cours-tableau td {
  background: $surface !important;
}

.mpo-onglets-fonces .mpo-onglet-corps {
  background: $background !important;
  color: $on-surface !important;
}

.det-detail-sections-cours-titre {
  color: $on-surface !important;
}

.det-conteneur-listes-regle {
  background: $background !important;
}

.det-cours-titre {
  color: $on-surface !important;
}
