@import "../dark-theme-variables";

.m-u--app-body {
  color: $on-surface !important;
}

.ael-dossier__train {
  background: $surface !important;
  border-color: $surface-border !important;
}

.m-steppers-item__title {
  color: $on-surface !important;
}
