@import "../dark-theme-variables";


.QuestionnaireExecution_Conteneur {
  background: $surface !important;
}

.QuestionnaireExecution_Timer {
  background: none !important;
  border-color: $surface-border !important;
  padding: 3px !important;
  color: $on-surface !important;
}

.QuestionnaireExecution_HeaderNiv2 {
  background: $surface !important;
}

.QuestionnaireExecution_TitreQuestion {
  background: $surface !important;
}

.QuestionnaireExecution_Content_ZoneResultats {
  border-color: $surface-border !important;
}

.QuestionnaireExecution_Content_ZoneResultats_Haut, .QuestionnaireExecution_Content_ZoneResultats_Bas {
  background: $surface !important;
}

.Outils_Page_QuestionnaireExecution .QuestionnaireCopieCorrigee_Header {
  background: $surface !important;
}

.Outils_Page_QuestionnaireExecution .QuestionnaireCopieCorrigee_MainContent, .Outils_Page_QuestionnaireExecution .Groupe_BoutonsPiedFenetre {
  background: $surface !important;
}

.CopieCorrigee_ZoneCorrection {
  background: $surface !important;
  border-color: $surface-border !important;
}

.CopieCorrigee_ZoneCorrection_Content {
  background: $surface !important;
  border-color: $surface-border !important;
}

.QuestionnaireExecution_ZoneQuestion.Corrigee.avecPointage .QuestionnaireExecution_ZoneQuestion_Titre .MiseEnPageTableau_QuestionnaireExecution_TitreQuestion, .QuestionnaireExecution_ZoneQuestion.Corrigee.sansPointage .QuestionnaireExecution_ZoneQuestion_Titre .MiseEnPageTableau_QuestionnaireExecution_TitreQuestion {
  background: $background !important;
}

.ZoneCorrection_Pointage_Hack {
  background: $surface !important;
  border-color: $surface-border !important;
}

.CopieCorrigee_ZoneTentative_Item {
  background: $surface !important;
  border-color: $surface-border !important;

  &.active {
    background: $surface-selected !important;
  }
}

